
main {
  margin: auto;
  h2 {
    text-align: center;
    font-family: Courier, Times, serif;
  }
}

pre {
  position: relative;
}

.animations {
  text-align: center;
  margin: auto;
}

.kirby {
  width: 50%;
}

.mainText {
  font-size: 1.3em;
}
