@keyframes bounce {
  0% {
    transform: scale(0.1);
    opacity: 0; }
  100% {
    transform: scale(1); } }
@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }
@keyframes hinge {
  0% {
    transform-origin: top center;
    animation-timing-function: ease-in-out; }
  20% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top center;
    animation-timing-function: ease-in-out; }
  40% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top center;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  60% {
    transform: rotate3d(0, 0, 1, 80deg);
    transform-origin: top center;
    animation-timing-function: ease-in-out; }
  80% {
    transform: rotate3d(0, 0, 1, 60deg);
    transform-origin: top center;
    animation-timing-function: ease-in-out;
    opacity: 1; }
  to {
    transform: translate3d(0, 700px, 0);
    opacity: 1; } }
@keyframes colors {
  10% {
    color: red; }
  30% {
    color: orange; }
  50% {
    color: green; }
  70% {
    color: blue; }
  90% {
    color: purple; }
  100% {
    color: red; } }
@keyframes rubberBand {
  from {
    transform: scale3d(1, 1, 1); }
  30% {
    transform: scale3d(1.25, 0.75, 1); }
  40% {
    transform: scale3d(0.75, 1.25, 1); }
  50% {
    transform: scale3d(1.15, 0.85, 1); }
  65% {
    transform: scale3d(0.95, 1.05, 1); }
  75% {
    transform: scale3d(1.05, 0.95, 1); }
  to {
    transform: scale3d(1, 1, 1); } }
@keyframes bounceInDown {
  from, 60%, 75%, 90%, to {
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    opacity: 1; }
  0% {
    opacity: 1;
    transform: translate3d(0, -3000px, 0); }
  60% {
    opacity: 1;
    transform: translate3d(0, 25px, 0); }
  75% {
    transform: translate3d(0, -10px, 0); }
  90% {
    transform: translate3d(0, 5px, 0); }
  to {
    transform: none;
    opacity: 1; } }
.bounceInDown {
  animation-name: bounceInDown;
  animation-duration: 1s;
  animation-delay: 6s;
  opacity: 0;
  animation-fill-mode: forwards; }

.rubberBand {
  animation-name: rubberBand;
  animation-duration: 2s;
  animation-delay: 2s; }

.hinge {
  animation-name: hinge;
  animation-duration: 3s;
  animation-delay: 3s; }

.colors {
  animation-duration: 6s;
  animation-name: colors;
  animation-iteration-count: infinite;
  color: red; }

.animateBounce {
  animation-duration: 2s;
  animation-name: bounce;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  position: absolute;
  right: 0;
  top: 0; }

.animateSpin {
  border-radius: 50%;
  animation: spin 3s infinite linear;
  position: absolute;
  right: 0;
  top: 0;
  margin: 2em;
  box-shadow: 0 0 2em black; }

main {
  margin: auto; }
  main h2 {
    text-align: center;
    font-family: Courier, Times, serif; }

pre {
  position: relative; }

.animations {
  text-align: center;
  margin: auto; }

.kirby {
  width: 50%; }

.mainText {
  font-size: 1.3em; }

header {
  text-align: center;
  position: relative; }
  header h1 {
    font-family: 'Rock Salt', cursive; }

footer {
  padding: 2em;
  border-top: solid 1px grey;
  color: grey;
  margin-top: 2em; }

/*# sourceMappingURL=main.css.map */
